.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid teal;
  cursor: pointer;
  transition: 0.3s;
}

.myBtn:hover {
  color: white;
  background-color: teal;
}
